<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>      
      {{>header}}
      <img src="https://i.picsum.photos/id/10/2500/1667.jpg" alt="">
      {{>footer}}
    </body>
</html>