<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/style.css">
  </head>
<body>
  
    {{>header}}
  <div class="container">
    <form>
      <label for="search">Search your text here</label>
      <input type="text" id="search" placeholder="location">
      <button>Search</button>
    </form>
    
      <p id="msg-1"></p>
      <p id="msg-2"></p>
  </div>
  
    {{>footer}}
  <script src="/js/script.js"></script>
</body>

</html>